body{
    background-color: blue;
    padding: 20px;
    margin: 0.4em;
    color: white;
    border-radius: 8px;
    flex-wrap: wrap;
}
.titulo-form{
    justify-content: center;
}
#formulario{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

    width: 1%;
    margin: 4em;
}
button{
    width: 4em;
    border-style: double;
    margin: 0.4em;
}